.education {
  padding: 100px 80px;
  background: #020617;
  color: #e5e7eb;
}

.edu-card {
  background: #0f172a;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #1e293b;
}

.edu-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.edu-card p,
.edu-card li {
  color: #cbd5f5;
  line-height: 1.6;
}
